#view-button {
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: #6df0c2;
  margin: 1.5rem auto;
  display: block;
  cursor: pointer;
}
#info {
  margin: 0 auto;
  width: 30%;
  height: auto;
  padding: 1.8rem;
  font-size: 1.3rem;
  text-align: center;
  background-color: #0582e9;
  color: white;
  display: none;
}
#close-button {
  width: auto;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border: none;
  display: none;
  background-color: #fd4d3f;
  margin: 1.5rem auto;
  cursor: pointer;
}
